.characters-list {
    height: 600px;
    width: 100px;
    border: 5px solid black;
    padding: 3px;
    display: flex;
    flex-direction: column;
    

    .button{
        width: 70px;
        height: 70px;
        background-size:280%;
        background-position: -53px -45px;
        border: 3px solid black;
        margin: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.characters-list-creator {
    height: 70px;
    width: 460px;
    border: 5px solid black;
    display: flex;
    
    

    .editor-button{
        width: 50px;
        height: 50px;
        background-size:280%;
        background-position: -35px -30px;
        border: 3px solid black;
        margin: 7px 7px 0 7px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}

.add-delete-buttons-container {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;

    button{
        background-color: rgb(255, 255, 255);
        width: 25px;
        line-height: 15px;
        font-size: 20px;
        color: red;
        border: 1px solid black;
        cursor: pointer;
        outline: none;
        text-align: center;
        &:hover {
            background-color: rgb(255, 0, 0);
            color: white;
        }
        &.add{
            color: rgb(39, 148, 57);
            &:hover {
                background-color:rgb(39, 148, 57);
                color: white;
            }
        }
    }
}