.gamefield {
    height: 100%;
    width: 100%;
    padding: 70px 30px;
    margin-bottom: 0;
    position: relative;
    
    .container {
        display: flex;
        justify-content: center;
    }
}