.gamefield {
    height: 100%;
    width: 100%;
    padding: 70px 30px;
    margin-bottom: 0;
    position: relative;
    
    .container {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 30px;

       .char-and-scenes-list {
            position: absolute;
            width: 950px;
            top: -45px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 900px) {
                width: 800px;
                left: 5px;
                margin-left: -25px;
            }

       }
       
    }   
}

.scene-container {
    margin-top: 40px;
}

.scene-slider-container {
    width: 400px;
    display: flex;
    margin-top: 10px;
    @media only screen and (max-width: 900px) {
        width: 600px;
    }
    .slider-title {
        font-size: 14px ;
    }

    .slider {
        width: 230px;
        margin-left: 5px;
        margin-right: 20px;
        @media only screen and (max-width: 900px) {
            width: 200px;
        }
    }
}
.text-input-container {
    width: 420px;
    height: 50px;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    @media only screen and (max-width: 900px) {
        width: 200px;
    }
    .options-container{
        width:90px;
        font-size: 14px;
    }

    .text {
        width: 300px;
        margin-right: 20px;
    }
}

.controls {
    display: flex;
    width: 950px;
    margin:  0 auto;
    @media only screen and (max-width: 900px) {
        width: 800px;
    }
}

.controls-on-scene {
    width: 70%;
    display: flex;
}

.buttons {
    margin-right: 20px;

    @media only screen and (max-width: 900px) {
        margin-right: 5px;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
       
        .button {
            min-width: 30px;
            width: auto;
            height: 20px;
            padding: 0 10px;
            font-size: 15px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            text-align: center;
            

        }
    }
}

.editor-bitton {
    min-width: 30px;
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.buttons-and-text-container {
    display: flex;
}

.disabled {
    
    pointer-events: none;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;

    min-width: 30px;
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.mini-backgrounds {
    width: 100px;
    cursor: pointer;
}

.open-bckg{
    display: flex;
}

.closed-bckg{
    display: none;
}

.backgr-dropdown-contents {
    position: absolute;
    width: 306px;
    top: -238px;
    left: -2px;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.753);
    border: 3px solid black;
}

.backgr-deropdown-container {
    position: relative;
    
    z-index: 999999999;
}

.backgr-deropdown-toggle {
    width: 300px;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}


