.gamefield {
    height: 100%;
    width: 100%;
    padding: 70px 30px;
    margin-bottom: 0;
    position: relative;
    
    .container {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 30px;

       .char-and-scenes-list {
           position: absolute;
           top: -45px;
           margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;

       }
       
    }
    .buttons {
        width: 950px;
        margin: 0 auto;

        .button-container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 10px;
    
            .button {
                min-width: 30px;
                width: auto;
                height: 20px;
                padding: 0 10px;
                font-size: 15px;
                background-color: black;
                color: white;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                text-align: center;
                
    
            }
        }
    }
    
    
}

.scene-slider-container {
    width: 900px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;

    label {
        text-align: right;
        clear: both;
        float:left;
        margin-right:15px;
    }

    .slider {
        width: 700px;
    }
}
.text-input-container {
    width: 900px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;

    label {
        text-align: right;
        clear: both;
        float:left;
        margin-right:15px;
    }
    .text {
        width: 700px;
    }
}