.comics-screen {
    position: fixed;
    top:50px;
    left: 0;
    width: 100vw;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 999999;
    overflow: scroll;

    .comics-container {
        background-color: white;
        width: 940px;
        padding: 20px;
        margin: 0 auto;

        .comics-scene{
            width: 900px;
            margin-bottom: -10px;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        button {
            width: 100px;
            height: 30px;
            font-size: 18px;
            background-color: black;
            color: white;
            border-radius: 0;
            border: none;
        }
    }

}

.result-button {
    min-width: 30px;
    width: auto;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}