.comics-screen {
    position: fixed;
    top:50px;
    left: 0;
    width: 100vw;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 999999;

    .comics-container {
        background-color: white;
        width: 800px;
        padding: 20px;
        margin: 0 auto;
        overflow: scroll;

        .comics-scene{
            width: 760px;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-around;

        button {
            width: 100px;
            height: 30px;
            font-size: 18px;
            background-color: black;
            color: white;
            border-radius: 0;
            border: none;
        }
    }

}
