.scene {
    width: 950px;
    height: 500px;
    margin-left: 20px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}