.editor-dropdown{
    width: 100%;
    
    
    .dropdown-button{
        height: 35px;
        background-color: hotpink;
        cursor: pointer;
    }
}

.open{
    display: block;
}

.closed{
    display: none;
}