.editor-panel {
    height:600px;
    width: 370px;
    background-color: white;
    border: 5px solid black;
    
    top: 80px;
    right: 40px;
    z-index: 7;
    

    
}
.tab {
    padding-left: 8px;
}

.scrollbox {
    z-index: 1;
    overflow: scroll;
    width: 100%;
    max-height: 94%;
   
  }
  