.custom-button {
    min-width: 30px;
    width: auto;
    height: 30px;
    padding: 0 10px;
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}