.navbar {
    width: 100vw;
    background-color: black;
    height: 50px;
    position: absolute;
    top: 0;

    .header {
        color: white;
        padding: 5px 20px;
        font-size: 25px;
        margin: 0;
    }
}