* {
  box-sizing: border-box;
}

body{
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Pattern.png);
  background-repeat: repeat;
  background-size: 10%;
  font-family: 'Manrope';
}