.splashscreen {
    background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Splashscreen.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 590px;
    width: 1000px;
    z-index: 100;
    position: absolute;
    top: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @media only screen and (max-width: 900px) {
      width: 400px;
      top: 0;
      left: 0;
      transform: unset;
  }
    
    .splashtext {
        position: absolute;
        top: 70%;
        left: 40%;
        font-size: 30px;
      }
      
      .version {
        font-size: 50px;
        position: absolute;
        top: 60%;
        left: 75%;
        @media only screen and (max-width: 900px) {
          
          top: 50%;
          left: 60%;
          
      }
      }

      .spoiler {
        font-size: 12px;
        position: absolute;
        top: 62%;
        left: 30%;

        @media only screen and (max-width: 900px) {
          
          top: 70%;
          left: 15px;
          
      }
        
      }

      .startButton {
        position: absolute;
        top: 70%;
        left: 40%;
        height: 45px;
        width: 150px;
        font-size: 30px;
        background-color: white;
        border: 3px solid black;
        cursor: pointer;

        @media only screen and (max-width: 900px) {
          
          top: 80%;
          left: 30%;
          
      }
      }

      .loading {
        position: absolute;
        top: 70%;
        left: 40%;
      }
      
  
  }
  
  