.scenes-list {
    height: 70px;
    width: 460px;
    border: 5px solid black;
    display: flex;
    position: relative;
    
}

.scene-mini {
    height: 45px;
    width: 54px;
    display: block;
    margin: 5px 5px 0 5px;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    width: 20px;
    align-self: center;
    position: absolute;
    top:40px;

    &:hover {
        background-color: rgb(255, 0, 0);
        color: white;
    }
}

.mini-scene-container {
    display: flex;
    flex-direction: column;
}

.preview {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:50px;
    left: 0;
    width: 100vw;
    height: 95vh;
    background-color: #ffffffde;
    z-index: 9999999999;
    
    button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        text-align: center;
        outline: none;
    }

    img {
       width: 800px;
       height: 450px;
    }
}

.closed-preview {
    display: none;

    
}